body {
    background-color: #000000;
    overflow-x: hidden;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* LOGO */
.korine-logo {
    height: 25%;
    max-width: 50%;
    min-width: 50%;
    display: none;
}

.korine-flex-center {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    margin-top: 20%;
}

/* GALLERY */
.korine-horizontal-gallery {
    display: flex;
    align-self: flex-start; /* align top left */
    top: 0;
    position: absolute;
    left: 3000px;
    overflow-x: hidden !important;
}

.korine-gallery-image {
    margin-left: 0px !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown ul {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 888;
}

.dropdown:hover ul {
    display: block;
}

.korine-dropdown-image {
    width: 100%;
}

.korine-dropdown-image img {
    max-width: 100% !important;
    height: auto !important;
}

/* TODO : media queries */

/* FOOTER */
.korine-footer {
    display: flex;
    justify-content: center; /* align center */
    align-self: flex-end; /* align bottom */
    height: 10%;
    margin-top: 20%;
}

.korine-footer a {
    padding-left: 5px;
    padding-right: 5px;
}

/* MEDIA QUERIES*/
/* GALLERY */
@media screen and (min-height: 1079px) {
    .korine-horizontal-gallery, .korine-gallery-image {
        height: 270px !important;
        max-height: 270px !important;
    }
}

@media screen and (min-height: 899px) and (max-height: 1079px) {
    .korine-horizontal-gallery, .korine-gallery-image {
        height: 240px !important;
        max-height: 240px !important;
    }
}

@media screen and (min-height: 768px) and (max-height: 898px) {
    .korine-horizontal-gallery, .korine-gallery-image {
        height: 220px !important;
        max-height: 220px !important;
    }
}

/* LOGO and FOOTER */
@media screen and (min-width: 1px) and (max-width: 619px) {
    .korine-flex-center, .korine-footer {
        margin-top: 50%;
    }
}

@media screen and (min-width: 620px) and (max-width: 769px) {
    .korine-flex-center, .korine-footer {
        margin-top: 40%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1419px){
    .korine-flex-center, .korine-footer {
        margin-top: 17%;
    }
}

@media screen and (min-width: 1420px) and (max-width: 1719px){
    .korine-flex-center, .korine-footer {
        margin-top: 14%;
    }
}

@media screen and (min-width: 1720px) {
    .korine-flex-center, .korine-footer {
        margin-top: 12%;
    }
}
