body {
    background-color: #000000;
    overflow-x: hidden;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.ph0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.mt1 {
    margin-top: 1%
}

/* LOGO */
.korine-logo {
    height: 25%;
    max-width: 40%;
    min-width: 40%;
    display: none;
    z-index: 80085;
}

.korine-flex-center {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}

.flex-center-margin-top {
    margin-top: 20%;
}

/* GALLERY */
.korine-horizontal-gallery {
    display: block;
    top: 0;
    position: absolute;
    left: 3000px;
    overflow-x: hidden !important;
}

.korine-gallery-image {
    height: auto !important;
    max-width: 100% !important;
}

.korine-horizontal-gallery .col-xs-3 {
    padding-left: 10px;
    padding-right: 10px;
}

/* FOOTER */
.korine-footer {
    display: flex;
    justify-content: center; /* align center */
    align-self: flex-end; /* align bottom */
    height: 10%;
    margin-top: 20%;
    z-index: 80084;
}

.korine-footer a {
    padding-left: 5px;
    padding-right: 5px;
}

/* LOGO and FOOTER */
@media screen and (min-width: 1px) and (max-width: 619px) {
    .flex-center-margin-top {
        margin-top: 50%;
    }
    .korine-footer {
        margin-top: 125%;
    }
}

@media screen and (min-width: 620px) and (max-width: 769px) {
    .flex-center-margin-top {
        margin-top: 40%;
    }
    .korine-footer {
        margin-top: 100%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1419px){
    .flex-center-margin-top {
        margin-top: 17%;
    }
    .korine-footer {
        margin-top: 44.5%;
    }
}

@media screen and (min-width: 1420px) and (max-width: 1719px){
    .flex-center-margin-top {
        margin-top: 14%;
    }
    .korine-footer {
        margin-top: 33%;
    }
}

@media screen and (min-width: 1720px) {
    .flex-center-margin-top {
        margin-top: 12%;
    }
    .korine-footer {
        margin-top: 30%;
    }
}

/* VISIONNEUSE */
.korine-full-screen-img {
    margin-top: 10px;
    width: 100%;
}

.featherlight-content  {
    margin-left: 0px !important;
    margin-right: 0px !important;
    background: rgba(77, 77, 77, 0.77) !important;
    max-height: 100% !important;
}
